{% extends "layout.twig" %}
{% set resize = {
	mode: 'crop',
	width: 730,
} %}
{% block content %}

<div class="container mt-5">
	<div class="row">
		<div class="col-md-8 mx-auto">
			{% for entry in craft.entries.section('blog').limit(10).all() %}

			<div class="post-preview">
				<p class="post-meta text-center text-muted">
					{{ entry.postDate | date('l d. F Y') }} 
				</p>
				<a href="{{ entry.url }}" class="text-dark">
					<div class="display-4 text-center mb-4">
						{{ entry.title }}
					</div>
				</a>
				<img src="{{ entry.fremhevetBilde.one.getUrl(resize) }}" class="img-fluid"> 
				{{ entry.blogPost }}
				<p class="post-meta">
					Skrevet av <a href="#" class="text-info"> {{ entry.author }}</a> 
				</p>
			</div>
			<hr>
			{% endfor %}

		</div>
	</div>
</div>
{% endblock %}